:root {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

html {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    line-height: 1.25;
    height: 100%;    
    background-repeat: no-repeat;
}

body {
    margin: 0;
}

h1, h2, h3 {
    font-family: 'Tangerine', cursive;
    text-align: center;
}

h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 2.25em;
}

h5 {
    font-size: 1em;
}

figure {
    margin: 0;
}

figcaption {
    margin-top: .5em;
    text-align: center;    
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

div#main {
    display: flex;
    flex-flow: row wrap;
}

ul {
    padding: 0;
    list-style: none;
}

li {
    padding: 1px;
    padding-left: 3px;
    background-color: #ece5e5;    
}

li.even {
    background-color: #f2f2f2;
}

li b {
    font-weight: 600;
}

div#picture {
    flex-basis: 50%;
    color: white;
    background-color: black;
}

div#tribute-info {
    flex-basis: 50%;
    background-image: linear-gradient(to bottom, #fff2f2, #fff0f0);
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

hr {
    width: 100%;
    border-top: 1px solid #000;
}


